<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node test</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./script/jquery.min.js"></script>
</head>
<body>

<div class="container pt-3">
<% users.forEach(user => { %>
    <p><%= user.login %></p>
<% }); %>


<%- include('form') %>
</div>

</body>
<script src="./script/script.js"></script>
</html>